<nav>
    <a href="/">Home</a> |
    <a href="/recipes">Recipes</a> |
    <a href="/favorites">My Favorites</a> |
    <a href="/login">Login</a> |
    <a href="/register">Register</a> |
    <a href="/myProfile">Profile</a>
</nav>
