<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>


<form action="/login" method="POST">
    Email: <input type="text" name="email"> <br>
    Password: <input type="password" name="password"> <br><br>

    <button>Login</button>

</form>

<% if (typeof message != "undefined"){ %>
  		 <h3><%=message%></h3>
<% } %>


<%- include('partials/footer.ejs') %>
