<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>


    This is my profile info.<br>

    This page must be password-protected!


    <form action = "/logout">
        <button> Logout </button>
    </form>




<%- include('partials/footer.ejs') %>
